<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #F1F5F9;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 40px;
      background-color: transparent;
      border-radius: 8px;
    }

    h1 {
      color: #4BA6DB;
      margin:0;
    }

    p {
      margin:0;
    }
  </style>
  <title>Bienvenido a Lerni!</title>
</head>
<body>
<img src="https://cdn.discordapp.com/attachments/411201278031560708/1252993009444720683/bannerimage.png?ex=66743c2c&is=6672eaac&hm=83ac96a0fa1fb600357469f604e4ab26f415366d2acc8c910fa6ae8ec1790286&" alt="Lerni" style="width: 100%; height: 250px; object-fit: cover">
<div class="container">
  <h1 style="width: 100%; text-align: center; margin-bottom: 32px">Bienvenido/a a Lerni</h1>
  <p style="width: 100%; text-align: center; margin-bottom: 8px">¡Gracias por unirte a Lerni! Nos alegra tenerte como parte de nuestra <b>comunidad</b>.</p>
  <p style="width: 100%; text-align: center; margin-bottom: 8px">Explora nuestra plataforma y disfruta de las funciones que tenemos para ofrecer. Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
  <p style="width: 100%; text-align: center; font-weight: 700; margin-bottom: 8px">¡Feliz aprendizaje!</p>

  <div style="margin-top: 48px" align="center">
    <img style="width:56.06px; height: 32.17px" src="https://cdn.discordapp.com/attachments/411201278031560708/1252999926778957995/lernitoface2.png?ex=6674429e&is=6672f11e&hm=6aaf528c2e673029c8d07abb59f0a87be639940f43e4d4d2d6eac6eb1da9d060&"/>
    <p style="width: 100%; text-align: center; font-size: 12px;font-weight: 200; margin-bottom: 8px; font-family: 'Playwrite SK', cursive; ">Equipo Lerni</p>

  </div>
</div>
</body>
</html>
