<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #F1F5F9;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 40px;
      background-color: transparent;
      border-radius: 8px;
    }

    h1 {
      color: #4BA6DB;
      margin:0;
    }

    p {
      margin:0;
    }
  </style>
  <title>Bienvenido a Lerni!</title>
</head>
<body>
<img src="https://lerni-images-2024.s3.amazonaws.com/email/bannerimage.png" alt="Lerni" style="width: 100%; height: 250px; object-fit: cover; object-position: bottom;" >
<div class="container">
  <h1 style="width: 100%; text-align: center; margin-bottom: 32px">Bienvenido/a a Lerni</h1>
  <p style="width: 100%; text-align: center; margin-bottom: 8px">¡Gracias por unirte a Lerni! Nos alegra tenerte como parte de nuestra <b>comunidad</b>.</p>
  <p style="width: 100%; text-align: center; margin-bottom: 8px">Explora nuestra plataforma y disfruta de las funciones que tenemos para ofrecer. Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
  <p style="width: 100%; text-align: center; font-weight: 700; margin-bottom: 8px">¡Feliz aprendizaje!</p>

  <div style="margin-top: 48px" align="center">
    <img style="width:59px; height: 56.17px" src="https://lerni-images-2024.s3.amazonaws.com/email/lerni-signature.png"/>
  </div>
</div>
</body>
</html>
